body {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    margin: 0;
    background-color: #232222;
  }
footer {
    margin: 0;
    margin-bottom: 10px;
    width: 100vw;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    color: #ffffff;
    border-top: 2px solid #ffd23f;
  }
  .footer {
    background-color: #232222;
    display: flex;
    padding-top: 15px;
    justify-content: space-around;
    align-items: flex-start;
    width: 100vw;
  }
  
  /*Tamaño textos*/
  .footer p {
    margin: 0;
    font-size: 15px;
  }
  .footer h5 {
    margin: 0;
    font-size: 19px;
  }
  
  /*Titulo de section footer*/
  .footer-titulo {
    border-bottom: 0.5px solid #ffd23f;
  }
  .contenedor-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }
  
  .contenido {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3px;
  }
  #contactos,
  #redes-sociales {
    gap: 15px;
  }
  /*iMAGEN*/
  .footer-img {
    display: flex;
    align-items: center;
    height: 210px;
  }
  .footer-img img {
    height: 192px;
    width: 192px;
  }
  
  
  @media (max-width: 900px){
    .footer{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .contenedor-footer{
      width: 250px;
    }
    .footer-img{
      display: none;
    }
    .footer-titulo h5{
      display: flex;
      justify-content: center;
    }
  }