body {
  display: flex;
  padding: 0px 13px;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  background-color: #232222;
}

nav {
  display: flex;
  align-self: stretch;
  align-items: center;
  gap: 47px;
  border-bottom: 2px solid #FFD23F;
}

#navdiv {
  display: flex;
  align-items: center;
  padding: 16.2px 54px 16.2px 16.2px;
  justify-content: space-between;
  flex: 1 0 0;
}

#navdiv button:not(#IniciarSesion) {
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  color: white;
}

#IniciarSesion {
  display: flex;
  min-width: 150px;
  padding: 8.16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  background: #FFD23F;
}

#inputbuscar {
  display: flex;
  padding: 8.16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  border: none;
}

#botonbuscar {
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  color: white;
}

#divbuscador {
  display: flex;
  align-items: center;
  border-radius: 100px;
  background: white;
}
.navegacion{
  width: 100%;
  text-align: left;
  margin: 0%;
}
h2{
  margin-top: 18px;
  margin-bottom: 18px;
}
.texto{
  color: white;
  font-family:Arial, sans-serif;
}

.botonesadmin{
  display: inline-block; 
  min-width: 150px;
  padding: 8.16px;

  border-radius: 10px;
  background: #FFD23F;
  margin-right: 30px; /* Agrega un margen entre los botones */
  margin-bottom: 30px;
}
.botonesadmin2{
  display: inline-block; 
  min-width: 150px;
  padding: 8.16px;

  border-radius: 10px;
  background: #FFD23F;
  margin-right: 30px; /* Agrega un margen entre los botones */
}