@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #100113;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: space-between;
    gap: 0px;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 48px;
    color: #FFFFFF;
    
    
}

.pantalla {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 90vh;
    width: 100%;
    
}

.navegacion {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    right: 5%;
}

.navegacion svg {
    display: flex;
    position: absolute;
    padding-right: 10px;
}

#contenido {
    padding-left: 10%;
    min-width: 500px;
    padding-bottom: 17%;
}

.imagendentro {
    height: 100%;
    bottom: 0;
   
   
}

.custom-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* Adjust the value to increase/decrease distance between the ellipse and text */
    background-color: transparent;
    /* Make button's background transparent */
    border: none;
    /* Remove button's border */
    color: var(--LetrasOficial, #FFF);
    font-family: 'Inter', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 27.6px */
}

.custom-btn svg {
    flex-shrink: 0;
}

span.highlight {
    color: #FFD23F;
}

@media (max-width: 1080px){
    #contenido{
        min-width: 300px;
    }
}
    