body {
    display: flex;
    padding: 0px 13px;
    flex-direction: column;
    align-items: center;
    gap: 2px;

    background-color: #232222;
}

h1 {
    font-size: 48px;
    color: white;
}

nav {
    align-self: stretch;
    display: flex;
    align-items: center;
    gap: 47px;
    border-bottom: 2px solid var(--Botones, #FFD23F);
}

#navdiv {
    display: flex;
    align-items: center;
    padding: 16.2px 54px 16.2px 16.2px;
    justify-content: space-between;
    flex: 1 0 0;
}

#navdiv button:not(#navdivbuscar, #IniciarSesion) {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    color: white;
}

#IniciarSesion {
    display: flex;
    width: 188px;
    padding: 8.16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    background: var(--Botones, #FFD23F);
}

#navdivdiv {
    display: flex;
    align-items: center;
    border-radius: 100px;
    background: white;
}

#navdivbuscar {
    display: flex;
    padding: 8.16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    border: none;
}

#paginaentera {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#tabla {
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;

    border-radius: 4px;
    border: 1px solid #5B5B5B;
    background: #363636;
}

table tr th {
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    min-height: 60px;
    font-size: 25px;


    border-top: 1px solid #5B5B5B;
    border-left: 1px solid #5B5B5B;
    background: #FFF;
}

table td {
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    min-height: 36px;
    text-align: center;
    height: max-content;

    border-top: 1px solid #5B5B5B;
    border-left: 1px solid #5B5B5B;
    background: #ECECEC;
}