body {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 35px;
}

#body2 {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 400px;
}


#DetallePedido {
display: flex;
justify-content: center;
align-items: center;
padding-left: 500px;
gap: 450px;
align-self:stretch;
}


#body3{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 54px;
align-self:stretch;
}

#EntregarTitul{
color: #D9D9D9;

/* Inter-Header4 */
font-family: Inter;
font-size: 33px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 39.6px */
}

.busqueda-titulo,
.filtro-titulo {
  color: var(--LetrasOficial, #FFF);
  text-align: center;
  font-family: Inter;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.busqueda-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

#busq {
color: var(--LetrasOficial, #FFF);
text-align: center;

/* Inter-Header6 */
font-family: Inter;
font-size: 23px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 27.6px */
}

#inputBuscar{
width: 168px;
height: 35px;
flex-shrink: 0;
}

#bar{
display: flex;
width: 248px;
padding: 4px 8px;
justify-content: flex-end;
align-items: center;
}

#filt{
  color: var(--LetrasOficial, #FFF);
text-align: center;

/* Inter-Header6 */
font-family: Inter;
font-size: 23px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 27.6px */
}

Tabla{
display: flex;
padding: 30px;
flex-direction: column;
justify-content: center;
align-items: center;
flex: 1 0 0;
align-self: stretch;
border-collapse: collapse;
}

td {
  border: 1px solid #5B5B5B; 
  text-align: center; 
  vertical-align: middle; 
}

th {
  border: 1px solid #5B5B5B; 
  background-color: #FFFFFF;
   text-align: center; 
  vertical-align: middle; 
}

.Combobox{
display: flex;
padding: 4px 8px;
justify-content: center;
align-items: center;
gap: 4px;
}

.custom-button {
  display: inline-block;
  position: relative;
}

.toggle-button {
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  user-select: none;
  border: 1px solid #ccc;
}

.toggle-button::after {
  content: " "; 
  width: 16px; 
  height: 16px; 
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 48 48" fill="none"><g clip-path="url(#clip0_908_1027)"><path d="M14.82 17.1797L24 26.3397L33.18 17.1797L36 19.9997L24 31.9997L12 19.9997L14.82 17.1797Z" fill="black"/></g></svg>') no-repeat center center;
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.state-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: pointer;
  z-index: 1;
  border-radius: 8px;
  border: 1px solid #ccc;
  display: none;
}

.state-dropdown div {
  padding: 10px 15px;
  cursor: pointer;
}

/* Mostrar los estados cuando se presiona el botón */
.toggle-button:focus + .state-dropdown {
  display: block;
}

/* Rotar la flecha cuando se muestra el menú de estados */
.toggle-button:focus::after {
  transform: rotate(180deg);
}

#Volver {
  display: block;
  min-width: 150px;
  padding: 8.16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  background: #FFD23F;

}

#Entregar{
display: flex;
padding: 8px;
justify-content: center;
align-items: center;
gap: 8px;
align-self: stretch;
}

#body4{
display: flex;
padding: 0px 96px;
align-items: flex-start;
gap: 73px;
flex: 1 0 0;
align-self: stretch;
}

#body5{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
flex: 1 0 0;
}

#Contenedor {
  display: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 100vh;
}

#Bienvenido {
  color: var(--LetrasOficial, #FFF);
  font-family: Inter;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

#Olvida{
color: var(--LetrasOficial, #FFF);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 19.2px */
margin-bottom: 20px;
}

#InicioSesion{
display: flex;
width: 288px;
height: 40px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: var(--Botones, #FFD23F);
}

#Google{
display: flex;
width: 300px;
padding: 10px;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #FFF;
}

#framex {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: 11px;
  top: 11px;
  background: var(--LetrasOficial, #FFF);
}

#x {
  color: var(--LetasBOTON, #000);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
  position: relative;
  top: 0;
  right: 0;
}

#error-message {
background-color: transparent;
color: white;
border: 2px solid #BB2828;
border-radius: 10px;
padding: 10px;
text-align: left;
margin-top: 100px;
margin-bottom: 80px;
margin-left: 20px;
font-family: Inter;
font-size: 15.25px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 20.7px */
}

#eye{
width: 24.75px;
height: 16.875px;
flex-shrink: 0;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group .password-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}


