* {
    font-family: 'Inter', sans-serif;
}
body {
    display: flex;
    padding: 0px 13px;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    background-color: #232222;
}

nav {
    display: flex;
    align-self: stretch;
    align-items: center;
    gap: 47px;
    border-bottom: 2px solid #FFD23F;
}

#navdiv {
    display: flex;
    align-items: center;
    padding: 16.2px 54px 16.2px 16.2px;
    justify-content: space-between;
    flex: 1 0 0;
}

#navdiv button:not(#IniciarSesion) {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    color: white;
}

#IniciarSesion {
    display: flex;
    min-width: 150px;
    padding: 8.16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    background: #FFD23F;
}

#inputbuscar {
    display: flex;
    padding: 8.16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    border: none;
}

#botonbuscar {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    color: white;
}

#divbuscador {
    display: flex;
    align-items: center;
    border-radius: 100px;
    background: white;
}

.menu {
    display: none;
}

@media (max-width: 900px){
    #navdiv{
        display: none;
    }
    .menu {
        display: block;
        padding-right: 50px;
    }
    .menu svg{
        border: 3px solid #000000;
        border-radius: 8%;
        width: fit-content;
        padding: 5px 5px 5px 5px;
    }
    nav {
        display: flex;
        justify-content: space-between;
    }
    
}
.productos{
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    width: 90%;
}
.producto{
    color: white;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 40px;
}
.crear1{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.crear{
    float: left;
    min-width: 150px;
    padding: 8.16px;
    border-radius: 5px;
    background: #E17E22;
    color: white;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 17px;
}
.llamar{
    min-width: 150px;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    background: #FFD23F;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 15px;
}
.contenedor-tablas {
    display: flex;
}

.tabla1,
.tabla2 {
    background-color: white;
    flex: 1; /* Hace que ambas tablas ocupen el mismo espacio horizontal */
    margin-right: 20px;
    font-family: 'Inter', sans-serif;
    border-collapse: collapse;
}
td, th {
    border: 1px solid #000; 
    padding: 4px; 
}

.tr1{
    background-color: #ECECEC;
}
.alta{
    color: #12A432;
}
.baja{
    color: #BB2828;
}
.editar{
    background-color: #1CB9DC;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Inter', sans-serif;
}
.lapiz{
    width: 10px;
    height: 10px;
}