* {
    font-family: 'Inter', sans-serif;
}
body {
    display: flex;
    padding: 0px 13px;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    background-color: #232222;
}

nav {
    display: flex;
    align-self: stretch;
    align-items: center;
    gap: 47px;
    border-bottom: 2px solid #FFD23F;
}

#navdiv {
    display: flex;
    align-items: center;
    padding: 16.2px 54px 16.2px 16.2px;
    justify-content: space-between;
    flex: 1 0 0;
}

#navdiv button:not(#IniciarSesion) {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    color: white;
}

#IniciarSesion {
    display: flex;
    min-width: 150px;
    padding: 8.16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    background: #FFD23F;
}

#inputbuscar {
    display: flex;
    padding: 8.16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    border: none;
}

#botonbuscar {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    color: white;
}

#divbuscador {
    display: flex;
    align-items: center;
    border-radius: 100px;
    background: white;
}

.menu {
    display: none;
}

@media (max-width: 900px){
    #navdiv{
        display: none;
    }
    .menu {
        display: block;
        padding-right: 50px;
    }
    .menu svg{
        border: 3px solid #000000;
        border-radius: 8%;
        width: fit-content;
        padding: 5px 5px 5px 5px;
    }
    nav {
        display: flex;
        justify-content: space-between;
    }
    
}
.navegacion {
    
    width: 60%; /* Ancho de la sección */
    margin: 70px auto; /* Margen superior e inferior para centrar verticalmente */
    background-color: #433F3F;
    padding: 30px 0 30px 0; /* Espaciado interno para separar el contenido */
    margin: 60px 0;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    text-align: center; /* Centra el texto horizontalmente */
    border-radius: 5px;
}
.texto {
    margin-top: 0px;
    margin-bottom: 50px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 50px;
}
.navegacion p, .navegacion input, .navegacion select {
    font-size: 24px; /* Tamaño de fuente para elementos dentro de la sección */
}

.botonesadmin{
    width: 520px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 520px; /* Establece el ancho máximo según tus necesidades */
    display: block;
    padding: 8.16px;
    border-radius: 10px;
    background: #FFD23F;
    font-size: 24px;
}
.botonesadmin2{
    width: 520px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 520px; /* Establece el ancho máximo según tus necesidades */
    display: block;
    padding: 8.16px;
    color: white;
    border-radius: 10px;
    background: #BB2828;
    font-size: 24px;
}

#Rubro {
    
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 512px; /* Establece el ancho máximo según tus necesidades */
    display: block;
    background-color: #433F3F;
    border-color: white;
    color: white;
}
#Rubro::placeholder {
    color: white;
}
#Estado{
    width: 100%;
    max-width: 517px;
    background-color: #433F3F;
    color: white;
    border-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}


@media (max-width: 900px){
    .navegacion {
        width: 450px;
        margin: 70px auto; /* Margen superior e inferior para centrar verticalmente */
        background-color: #433F3F;
        padding: 30px 0 30px 0; /* Espaciado interno para separar el contenido */
        margin: 60px 0;
        align-items: center; /* Centra horizontalmente */
        justify-content: center; /* Centra verticalmente */
        text-align: center; /* Centra el texto horizontalmente */
        border-radius: 5px;
    }
    .texto {
        margin-top: 0px;
        margin-bottom: 50px;
        color: white;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-size: 50px;
    }
    .navegacion p, .navegacion input, .navegacion select {
        font-size: 24px; /* Tamaño de fuente para elementos dentro de la sección */
    }
    
    .botonesadmin{
        max-width: 400px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        display: block;
        padding: 8.16px;
        border-radius: 10px;
        background: #FFD23F;
        font-size: 24px;
    }
    .botonesadmin2{
        max-width: 400px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        display: block;
        padding: 8.16px;
        color: white;
        border-radius: 10px;
        background: #BB2828;
        font-size: 24px;
    }
    
    #Rubro {
        width: 100%;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 400px; /* Establece el ancho máximo según tus necesidades */
        display: block;
        background-color: #433F3F;
        border-color: white;
        color: white;
    }
    #Rubro::placeholder {
        color: white;
    }
    #Estado{
        width: 100%;
        max-width: 400px;
        background-color: #433F3F;
        color: white;
        border-color: white;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}