body{
    background-color: #232222;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 10%;
}


.navegador2{
    width: 100%;
    margin-top: 60px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}

.navegador2 li a{
    padding: 15px;
    color: white;
    text-decoration: none;
}

.navegador2 li a button{
    text-align: center;
    padding: 15px;
    display: flex;
    color: black;
    text-decoration: none;
    background-color: #FFD23F;
    border-radius: 10px;
}

.tabla1{
    margin-top: 60px;
    background-color: white;
    width: 100%;
    text-align: left;
    border: solid 3px black;
    border-radius: 18px;
    height: 300px;
}

th{
    font-size: x-large;
    text-align: center;
    border: solid 1.5px black;
}
td{
    font-size: larger;
    border: solid 1.5px black;
}



nav {
    display: flex;
    align-self: stretch;
    align-items: center;
    gap: 47px;
    border-bottom: 2px solid #FFD23F;
}

#navdiv {
    display: flex;
    align-items: center;
    padding: 16.2px 54px 16.2px 16.2px;
    justify-content: space-between;
    flex: 1 0 0;
}

#navdiv button:not(#IniciarSesion) {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    color: white;
}

#IniciarSesion {
    display: flex;
    min-width: 150px;
    padding: 8.16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    background: #FFD23F;
}

#inputbuscar {
    display: flex;
    padding: 8.16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    border: none;
}

#botonbuscar {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    color: white;
}

#divbuscador {
    display: flex;
    align-items: center;
    border-radius: 100px;
    background: white;
}



.contenedor2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.boton-anashe{
    background-color: #FFD23F;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 25px;
}