body{
    background-color: #232222;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 10%;
}

nav {
    display: flex;
    align-self: stretch;
    align-items: center;
    gap: 47px;
    border-bottom: 2px solid #FFD23F;
}

#navdiv {
    display: flex;
    align-items: center;
    padding: 16.2px 54px 16.2px 16.2px;
    justify-content: space-between;
    flex: 1 0 0;
}

#navdiv button:not(#IniciarSesion) {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    color: white;
}

#IniciarSesion {
    display: flex;
    min-width: 150px;
    padding: 8.16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    background: #FFD23F;
}

#inputbuscar {
    display: flex;
    padding: 8.16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    border: none;
}

#botonbuscar {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    color: white;
}

#divbuscador {
    display: flex;
    align-items: center;
    border-radius: 100px;
    background: white;
}

h1 {
    font-size: 48px;
    color: white;
}

h2 {
    text-align: center;
    font-size: 40px;
    color: white;
}



#aa {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
}

#DatosUsuario {
    display: flex;
    flex-direction: column; /* Apilar elementos verticalmente */
    justify-content: space-between; /* Espacio uniforme entre elementos */
    align-items: center; /* Centrar elementos horizontalmente */
    height: 100%; /* Ocupa todo el alto disponible */
    max-width: 350px;
    padding: 8px;
    border-radius: 8px;
    background: #433F3F;
}

#DatosUsuario input {
    margin-bottom: 8px;
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border: 2px solid #FFF;
    background-color: transparent;
    color: white;
}

#DatosUsuario input::placeholder {
    color: white; /* Cambia el color aquí */
}

#DatosUsuario button {
    margin-bottom: 8px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--Botones, #FFD23F);
}